<h1>Linear Algebra (CpE210A)

<h3>Midterms Project

Coded and submitted by:<br>
<i>Garcia Lee Gerome M.<br>
    201911936 <br>
  58051 </i>

Directions
This Jupyter Notebook will serve as your base code for your Midterm Project. You must further format and provide complete discussion on the given topic. 
- Provide all necessary explanations for specific code blocks. 
- Provide illustrations for key results.
- Observe clean code (intuitive variable names, proper commenting, proper code spacing)
- Provide a summary discussion at the end

Failure to use this format or failure to update the document will be given a deduction equivalent to 50% of the original score.

### Case

Bebang is back to consult you about her business. Furthering her data analytics initiative she asks you for help to compute some relevant data. Now she is asking you to compute and visualize her sales and costs for the past year. She has given you the datasets attached to her request.

### Problem

State and explain Bebang's problem here and provide the deliverables.

# Proof of Concept

Now that you have a grasp on the requirements we need to start with making a program to prove that her problem is solvable. As a Linear Algebra student, we will be focusin on applying vector operations to meet her needs. First, we need to import her data. We will use the `pandas` library for this. For more information you can look into their documentation [here](https://pandas.pydata.org/).

In [6]:
import pandas as pd

file_prices = "bebang prices.csv"
file_sales = "bebang sales.csv"

df_prices = pd.read_csv(file_prices, index_col=0)
df_sales = pd.read_csv(file_sales)


## Let's check what's in df_prices
df_prices

                 red velvet  oreo  ...  choco mint  choco butter naught
price per piece          35    25  ...          45                   45
cost per piece           25    15  ...          32                   31

[2 rows x 12 columns]

In [ ]:
## Let's check the sales dataframe
df_sales

                  flavor  january  february  ...  october  november  december
0             red velvet      781       524  ...       78       231       899
1                   oreo      210       324  ...        6       312       548
2           sugar glazed      599       674  ...       98       781      1602
3           almond honey      124       112  ...       36       300       566
4                 matcha      645       498  ...       71       549       897
5       strawberry cream      210       372  ...       41       207       456
6       brown sugar boba      981       380  ...       36       552       633
7        furits and nuts      478       462  ...        8       335       214
8         dark chocolate      598       203  ...        0       789       458
9   chocolate and orange      324       123  ...      100       632       231
10            choco mint      458       412  ...        1       323       564
11   choco butter naught      778       586  ...       99       784      2310

[12 rows x 13 columns]

## Part 1: Monthly Sales

In [7]:
import numpy as np
### Vectorizing the data

sales_mat = np.array(df_sales.set_index('flavor'))
prices_mat = np.array(df_prices)[0] ## reshape this vector to the appropriate size
costs_mat = np.array(df_prices)[1] ## reshape this vector to the appropriate size


## Do not alter these lines
print(sales_mat.shape)
print(prices_mat.shape)
print(costs_mat.shape)
# Expected Output
# (12, 12)
# (12, 1)
# (12, 1)

(12, 12)
(12,)
(12,)

#### Formulas

Take note that the fomula for revenue is: <br>
$revenue = sales * price $ <br>
In this case, think that revenue, sales, and price are vectors instead of individual values <br>
The formula of cost per item sold is: <br>
$cost_{sold} = sales * cost$ <br>
The formula for profit is: <br>
$profit = revenue - cost_{sold}$ <br>
Solving for the monthly profit will be the sum of all profits made on that month.

In [8]:
#Create a function that *returns* and prints the monthly sales and profit for each month 
def monthly_sales(price, cost, sales):
    monthly_revenue = sales * price
    monthly_costs = sales * cost
    monthly_profit = monthly_revenue - monthly_costs  

    monthlyprofit = monthly_profit.transpose()
    monthprofit = monthlyprofit.sum(axis = 1)

    df_profit = pd.DataFrame(monthprofit)
    df_profit.columns = ["Monthly Sales and Profits"]
    df_profit.index = ["Jan","Feb", "Mar","Apr","May","Jun","Jul","Aug","Sept","Oct","Nov","Dec"]
                       
                       
                      
                      
    print(df_profit)

    return monthly_revenue.flatten(), monthly_costs.flatten(), monthly_profit.flatten()

In [9]:
### Do not alter this cell
month_rev, month_cost, month_profit = monthly_sales(prices_mat, costs_mat, sales_mat)
### print the values
print("_"*100)
print("Revenues\n",month_rev)
print("_"*100)
print("Costs\n", month_cost)
print("_"*100)
print("Profits\n" ,month_profit)

      Monthly Sales and Profits
Jan                       61860
Feb                       46700
Mar                       42450
Apr                       11565
May                       62655
Jun                        3906
Jul                        4690
Aug                        8460
Sept                       6045
Oct                        8610
Nov                       75335
Dec                      131292
____________________________________________________________________________________________________
Revenues
 [ 27335  13100   7280   5495  44700   2240   3560   1845    690   3120
  10395  40455   7350   8100   6880   1120   6150     40    120      0
     30    240  14040  24660  20965  16850  17080    490  23350   3120
   1440   2160   2250   3920  35145  72090   4340   2800   2280    805
   9900    480   1280   1845    690   1440  13500  25470  22575  12450
  17700   3430   8850   3920   1720   4320    780   2840  24705  40365
   7350   9300   7380   2730   8150   1040   1800    990   1620   1640
   9315  20520  34335   9500   3080    490   7350    600   3920   1485
    690   1440  24840  28485  16730  11550   7080   1715   4450      0
     40      0     30    320  15075   9630  20930   5075    720   3360
  39450    160    200      0    240      0  35505  20610  11340   3075
    960   1120   3250   2960   3120   2025   2670   4000  28440  10395
  16030  10300   1560   2730   3900    280    120    360     60     40
  14535  25380  27230  14650  12900   3500  49350   2520   1440   4005
   2340   3960  35280 103950]
____________________________________________________________________________________________________
Costs
 [19525  7860  3640  3140 31290  1736  2670  1025   345  1950  7392 27869
  5250  4860  3440   640  4305    31    90     0    15   150  9984 16988
 14975 10110  8540   280 16345  2418  1080  1200  1125  2450 24992 49662
  3100  1680  1140   460  6930   372   960  1025   345   900  9600 17546
 16125  7470  8850  1960  6195  3038  1290  2400   390  1775 17568 27807
  5250  5580  3690  1560  5705   806  1350   550   810  1025  6624 14136
 24525  5700  1540   280  5145   465  2940   825   345   900 17664 19623
 11950  6930  3540   980  3115     0    30     0    15   200 10720  6634
 14950  3045   360  1920 27615   124   150     0   120     0 25248 14198
  8100  1845   480   640  2275  2294  2340  1125  1335  2500 20224  7161
 11450  6180   780  1560  2730   217    90   200    30    25 10336 17484
 19450  8790  6450  2000 34545  1953  1080  2225  1170  2475 25088 71610]
____________________________________________________________________________________________________
Profits
 [ 7810  5240  3640  2355 13410   504   890   820   345  1170  3003 12586
  2100  3240  3440   480  1845     9    30     0    15    90  4056  7672
  5990  6740  8540   210  7005   702   360   960  1125  1470 10153 22428
  1240  1120  1140   345  2970   108   320   820   345   540  3900  7924
  6450  4980  8850  1470  2655   882   430  1920   390  1065  7137 12558
  2100  3720  3690  1170  2445   234   450   440   810   615  2691  6384
  9810  3800  1540   210  2205   135   980   660   345   540  7176  8862
  4780  4620  3540   735  1335     0    10     0    15   120  4355  2996
  5980  2030   360  1440 11835    36    50     0   120     0 10257  6412
  3240  1230   480   480   975   666   780   900  1335  1500  8216  3234
  4580  4120   780  1170  1170    63    30   160    30    15  4199  7896
  7780  5860  6450  1500 14805   567   360  1780  1170  1485 10192 32340]

## Part 2: Flavor Sales

In [10]:
#Create a function that *returns* and prints the flavor profits for the whole year 
Z = []
def flavor_sales(price, cost, sales):
    flavor_revenue = sales * price
    flavor_costs = sales * cost
    flavor_profits = flavor_revenue - flavor_costs

    RedVelvet = flavor_profits[0].sum()
    Z.append(RedVelvet)

    Oreo = flavor_profits[1].sum()
    Z.append(Oreo)

    SugarGlazed = flavor_profits[2].sum()
    Z.append(SugarGlazed)

    AlmondHoney = flavor_profits[3].sum()
    Z.append(AlmondHoney)

    Matcha =  flavor_profits[4].sum()
    Z.append(Matcha)

    StrawberryCream =  flavor_profits[5].sum()
    Z.append(StrawberryCream)

    BrownSugarBoba =  flavor_profits[6].sum()
    Z.append(BrownSugarBoba)

    FuritsAndNuts =  flavor_profits[7].sum()
    Z.append(FuritsAndNuts)

    DarkChocolate =  flavor_profits[8].sum()
    Z.append(DarkChocolate)

    ChocolateAndOrange =  flavor_profits[9].sum()
    Z.append(ChocolateAndOrange)

    ChocoMint =  flavor_profits[10].sum()
    Z.append(ChocoMint)

    ChocoButterNaught =  flavor_profits[11].sum()
    Z.append(ChocoButterNaught)

    df_flavors = pd.DataFrame(Z)
    df_flavors.columns = ["Yearly Profit"]
    df_flavors.index = ["Red Velvet","Oreo","SugarGlazed","AlmondHoney","Matcha","StrawberryCream","BrownSugarBoba","FuritsAndNuts","DarkChocolate","ChocolateAndOrange","ChocoMint", "ChocoButterNaught"]

    print(df_flavors)

    return flavor_profits.flatten()

In [11]:
### Do not alter this cell
flavor_profit = flavor_sales(prices_mat, costs_mat, sales_mat)
### print the values
print("_"*100)
print("Profit\n",flavor_profit)

                    Yearly Profit
Red Velvet                  51773
Oreo                        22977
SugarGlazed                 65683
AlmondHoney                 20772
Matcha                      48787
StrawberryCream             24749
BrownSugarBoba              36263
FuritsAndNuts               22506
DarkChocolate               38520
ChocolateAndOrange          23036
ChocoMint                   24213
ChocoButterNaught           84289
____________________________________________________________________________________________________
Profit
 [ 7810  5240  3640  2355 13410   504   890   820   345  1170  3003 12586
  2100  3240  3440   480  1845     9    30     0    15    90  4056  7672
  5990  6740  8540   210  7005   702   360   960  1125  1470 10153 22428
  1240  1120  1140   345  2970   108   320   820   345   540  3900  7924
  6450  4980  8850  1470  2655   882   430  1920   390  1065  7137 12558
  2100  3720  3690  1170  2445   234   450   440   810   615  2691  6384
  9810  3800  1540   210  2205   135   980   660   345   540  7176  8862
  4780  4620  3540   735  1335     0    10     0    15   120  4355  2996
  5980  2030   360  1440 11835    36    50     0   120     0 10257  6412
  3240  1230   480   480   975   666   780   900  1335  1500  8216  3234
  4580  4120   780  1170  1170    63    30   160    30    15  4199  7896
  7780  5860  6450  1500 14805   567   360  1780  1170  1485 10192 32340]

In [12]:
### identify the best-selling and least-selling flavors. You can use np.sort() or np.argmax() for this.
df_sales["sum"] = df_sales.sum(axis = 1)
df_sales.sort_values("sum",axis=0, ascending=True, inplace=True, na_position='first')
print(df_sales)
bestflavors = [(df_sales.iloc[11]['flavor']),(df_sales.iloc[10]['flavor']),(df_sales.iloc[9]['flavor'])]
print("best-selling",bestflavors)
worstflavors = [(df_sales.iloc[0]['flavor']),(df_sales.iloc[1]['flavor']),(df_sales.iloc[2]['flavor'])]
print("least-selling",worstflavors)

                  flavor  january  february  ...  november  december   sum
3           almond honey      124       112  ...       300       566  1581
9   chocolate and orange      324       123  ...       632       231  1841
1                   oreo      210       324  ...       312       548  1904
7        furits and nuts      478       462  ...       335       214  1991
10            choco mint      458       412  ...       323       564  2012
5       strawberry cream      210       372  ...       207       456  2043
8         dark chocolate      598       203  ...       789       458  2986
6       brown sugar boba      981       380  ...       552       633  3066
4                 matcha      645       498  ...       549       897  4083
0             red velvet      781       524  ...       231       899  4137
2           sugar glazed      599       674  ...       781      1602  5326
11   choco butter naught      778       586  ...       784      2310  6555

[12 rows x 14 columns]
best-selling ['choco butter naught', 'sugar glazed', 'red velvet']
least-selling ['almond honey', 'chocolate and orange', 'oreo']

## Part 3: Visualizing the Data (Optional for +40%)
You can try to visualize the data in the most comprehensible chart that you can use.

In [ ]:
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

%matplotlib inline

#### Entire Dataset

#### Flavor Sales

## Part 4: Business Recommendation and Conclusion
Present the findings of your data analysis and provide recommendations

The data above gives us information that during  November to May , the store had no problems offering chocolates and candies becayse it is in-demand. However, data shows that months June to October desserts are hard to sell. The researchers suggest that Aling Bebang could have an alternative where she can other things she sells rather than sticking to chocolates and candies. This way, the store won't suffer as well. Moreover, the software engineers suggest also that she can change the least like desserts which are shown in the data.